.navbar{
    background: #39395f;
    display: flex;
    padding:10px 80px;
}

.nav_list{
    margin-left:auto;
    margin-top: 9px;
}
.nav_list .nav_a{  
    text-decoration: none;
    margin:0px 20px 0px 0px;
    color: #fff;
    
}